@charset "UTF-8";
div, span, h1, h2, h3, h4, li, p, img, header, footer {
  margin: 2px;
  padding: 2px;
  border: 0;
  font-weight: normal;
  list-style: none;
  text-decoration: none; }

h1 {
  font-size: 3.0rem;
  color: #ccc;
  font-weight: bold; }

h2 {
  color: #6be;
  font-size: 2.5rem; }

h3 {
  color: #6be;
  font-size: 2.0rem; }

h4 {
  color: #6750fc;
  font-size: 1.5rem;
  text-align: center;
  display: table-cell;
  margin-bottom: 0; }

hr {
  margin: 0; }

img {
  padding: 10px;
  margin: 10px;
}
.pict400 {
  width: 400px;
}

/* Font Awesomeの調整 */
.fa {
  margin-right: 5px; }

.icon_color_tw {
  color: #0cf; }
.icon_color_fb {
  color: rgba(0, 0, 120, 1); }
.icon_color_aws {
  color: white; }

/*# sourceMappingURL=contents.css.map */
