@charset "UTF-8";
/* HTML全体に対しwidthの幅指定にpadding及びborderの分を含める(marginは含まない)*/
* {
  box-sizing: border-box; }

/* スマホ画面用のメニューアイコンを標準では非表示に設定 */
.menu-icon {
  display: none; }

.container {
  /* 画面サイズ最大時4つのアイコンを並べるコンテナの最大サイズ */
  max-width: 1170px;
  width: 100%; }

.itachi-wrapper {
  /* 高さ指定しない場合に子要素が全てfloatの場合親要素の高さが0になる為、子要素側でfloat指定の解除が必要 */
  /*  height: 500px; */
  background-color: #f7f7f7;
  text-align: center; }

.heading {
  padding: 20px;
  color: #5f5d60;
  margin: 10px; }
  .heading h2 {
    font-weight: bold; }

.itachi {
  float: left;
  width: 25%; }
  .itachi p {
    color: pink; }

.itachi-icon {
  position: relative; }
  .itachi-icon img {
    widows: 200px;
    height: 200px; }
  .itachi-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white; }

/* 画面幅に合わせ各アイコン表示を標準の4×1段からタブレット：2×2段、スマホ：1×4段に変える */
@media (max-width: 1000px) {
  /* タブレット用 */
  .itachi {
    width: 50%; }

  .heading h2 {
    color: #77c; }

  .itachi-icon p {
    color: cyan; }
}
@media (max-width: 670px) {
  /* スマホ用 */
  .itachi {
    width: 100%; }
    .itachi p {
      font-size: 15px;
      color: #22c; }

  .heading h2 {
    color: #d88;
    font-weight: normal;
    font-size: 18px; }

  /* スマホの場合のみメニューアイコンを表示ON */
  .menu-icon {
    display: block;
    text-align: right;
    font-size: 25px; } }
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px; }

footer {
  position: absolute;
  top: 35px;
  right: 10%; }

/*# sourceMappingURL=ResponsiveDesign.css.map */
