@import "variables";

div, span, h1, h2, h3, h4, a, p, img, header, footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}

h1 { color: $h1_fc;	font-size: $h1_fs; }
h2 { color: $h2_fc;	font-size: $h2_fs; }
h3 { color: $h3_fc;	font-size: $h3_fs; }
h4 { color: $h4_fc;	font-size: $h4_fs;
	text-align: center;
	display: table-cell;
	margin-bottom: 0;
}
hr { margin: 0; }

.plans {
	font-size: 15px;
	color: #111180;
}
.plan2 {
	color: #a91111;
}
// 追加実装予定機能
.next-plan {
	color: rgba(192, 160, 34, 0.3);
}
// 実装済み
.implemented {
	color: green;
	opacity: 0.5;
}
/* Font Awesomeの調整 */
.fa {
	margin-right: 5px;
}
.icon_color {
	color: rgba(0, 0, 230, 0.5);
}

footer {
	background-color: #aaa;
	p {
	font-size: 0.75rem;
	line-height: 60px;
	}
}