/* cssをSass(Scss記法)に置き換え */

@mixin define($width, $height, $color: white, $f_size: 16px) {
  width: $width;
  height: $height + 30;
  color: $color;
  font-size: $f_size;
}
@mixin position($pstn:relative,$top:0,$right:0,$btm:0,$left:0) {
  position:$pstn;
  top:$top+10;
  right:$right;
  bottom:$btm;
  left:$left;
}

body {
  font-family: "メイリオ";
  background: {
    image: url(../images/b0133447_2029955.jpg);
    position: center center;
    repeat: no-repeat;
    attachment: fixed;
    size: cover;
    color: #999;
  }
}
h1 {
  @include position(absolute,500px); // 第3引数以降(right,bottom,left)省略した場合初期値適用
  margin: auto;
  @include define(500px, 100px, #ccc, 2.6rem);
  text-align: center;
  opacity: 0.5
}

a {
  &:hover {
  text-decoration: none;
  color: lightblue;
  }
}

img {
  transition: 1.0s ;
  &:hover {
    opacity: 0.3;
  }
}